# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.npm/

# Editors
.vscode/
.idea/
*.swp

# Build / deploy artifacts
dist/
.cache/
.vercel/
.netlify/

# Local env
.env
.env.local
